


body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #edeff0;
  background-size: 53px 50px;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

.menu-icon svg {
  fill: currentColor;
  height: 13px;
}

a,
a svg,
nav li:nth-child(2) .menu-icon svg {
  transition: .5s;
}

/* The location icon is taller than the other icons*/
nav li:nth-child(2) .menu-icon svg {
  height: 14px;
}



a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }
  a:hover,
  a:hover svg,
  nav li:nth-child(2):hover .menu-icon svg {
    color: #111;
    font-size: 20px;
    fill: #111;
    height: 20px;

  }

.display-in-mobile {
  color: #BA8058;

}


header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  header h1 {
    line-height: 1em;
  }
/******************************
  Logo and Logo Animation
******************************/

.logo {
  width: 140px;
  height: 120px;
  margin: 0 auto;
}

#svg-logo .st0,
#svg-logo .st1,
#svg-logo .st2 {
  stroke: firebrick;
  stroke-width: 1;
}

#svg-logo .st0 {
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
    animation: offset 3s linear forwards, fill-in 3s linear forwards;

}

#svg-logo .st1 {
  stroke-dasharray: 85;
  stroke-dashoffset: 85;
  animation: offset 3s linear forwards, fill-in 3s linear forwards;
}

#svg-logo .finger-pawprint {
  stroke-dasharray: 85;
  stroke-dashoffset: 85;
  animation: offset 3s linear forwards, fill-in 3s linear forwards;

}

#svg-logo .pad-pawprint {
  stroke-dasharray: 140;
  stroke-dashoffset: 140;
  animation: offset 3s linear forwards, fill-in 3s linear forwards;

}

.display-in-mobile {
  animation: fill-in 3s linear forwards;
}


@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-in {
  0% {
    fill: transparent;
    color: transparent;
  }
  50% {
    fill: transparent;
  }

  100% {
    stroke-width: 0;
  }

}


.dogs {
  width: 170px;
  height: 170px;
}

#dog-red .st0{fill:#BA8058;}
#dog-red .st1{fill:#FBFEFF;}
#dog-red .st2{fill:#2D3339;}
#dog-red .st3{fill:#EAAA7F;}

#dog-fawn .st0{fill:#EAAA7F;}
#dog-fawn .st1{fill:#FBFEFF;}
#dog-fawn .st2{fill:#2D3339;}
#dog-fawn .st3{fill:#F4C6A6;}

#dog-sable .st0{fill:#844B24;}
#dog-sable .st1{fill:#FBFEFF;}
#dog-sable .st2{fill:#2D3339;}
#dog-sable .st3{fill:#BA8058;}

#dog-blacktan .st0{fill:#BA8058;}
#dog-blacktan .st1{fill:#52595F;}
#dog-blacktan .st2{fill:#FBFEFF;}
#dog-blacktan .st3{fill:#2D3339;}


main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

.logo-text {
  display: none;
}

@media screen and (min-width: 420px) {
  .logo-text {
    display: block;
  }

  .display-in-mobile {
    display: none;
  }


}
